<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container">
    <img src="assets/freshcart-logo.svg" alt="" />
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav me-auto mt-2 pt-1 mt-lg-0" *ngIf="isLoggedin">
        <li class="nav-item">
          <a class="nav-link active" routerLink="home" aria-current="page"
            >Home <span class="visually-hidden">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="cart" aria-current="page"
            >Cart <span class="visually-hidden">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="products" aria-current="page"
            >Products <span class="visually-hidden">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="categories" aria-current="page"
            >Categories <span class="visually-hidden">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="brands" aria-current="page"
            >Brands <span class="visually-hidden">(current)</span></a
          >
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
        <li class="nav-item d-flex align-items-center mt-1">
          <i class="fab fa-instagram mx-2"></i>
          <i class="fab fa-facebook mx-2"></i>
          <i class="fab fa-tiktok mx-2"></i>
          <i class="fab fa-twitter mx-2"></i>
          <i class="fab fa-linkedin mx-2"></i>
          <i class="fab fa-youtube mx-2"></i>
        </li>
        <li class="nav-item" *ngIf="!isLoggedin">
          <a class="nav-link active" routerLink="login" aria-current="page"
            >Log in <span class="visually-hidden">(current)</span></a
          >
        </li>
        <li class="nav-item" *ngIf="!isLoggedin">
          <a class="nav-link active" routerLink="register" aria-current="page"
            >Register <span class="visually-hidden">(current)</span></a
          >
        </li>
        <li class="nav-item d-flex align-items-center" *ngIf="isLoggedin">
          <span class="nav-link active cursor-pointer" (click)="onLogout()">Log out </span>
        </li>
      </ul>
    </div>
  </div>
</nav>
